.shipping-page-container{
    position: relative;
    min-height: 100vh;   
    height: 120vh;   
}

.shipping-page-container nav{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 999;
}

.shipping-page-container nav .nav-icon{
    position: absolute;
    left: 20px;
    height: 30px;
    cursor: pointer;
}

