@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.banner-container {
    position: relative;
    font-family: 'Bebas Neue', sans-serif;
    width: var(100% - 40px);
    margin: 12px 20px;
    display: grid;
    grid-template-columns: 1fr 1.6fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.banner span{
    display: block;
    color: white;
    margin-left: 20px;
}

.banner span:first-child{
    margin-top: 20px;
}

.banner{
    background-color: gainsboro;
    border-radius: 10px;
    filter: grayscale(1);
    transition: 0.1s;
    cursor: pointer;
}

.banner:hover{
    filter: grayscale(0);
}

.banner1 {
    grid-area: 1 / 1 / 2 / 2;
    background-image: url("../../../images/banner1.jpg");
    background-size:cover;
    line-height: 60px;
}

.banner1 > span:first-child{
    letter-spacing: 6px;
    font-size: 30px;
}

.banner1 > span:last-child{
    letter-spacing: 1px;
    font-size: 100px;
}


.banner2 {
    grid-area: 2 / 1 / 4 / 2;
    background-image: url("../../../images/banner2.jpg");
    background-size:cover;
}

.banner2 > span:first-child{
    font-size: 100px;
    line-height: 100px;
}

.banner2 > span:last-child{
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 0px;
}


.banner3 {
    grid-area: 1 / 2 / 3 / 3;
    background-image: url("../../../images/banner3.png");
    background-size:cover;
}

.banner3 > span:first-child{
    letter-spacing: 1px;
    font-size: 30px;
    line-height: 70px;
}

.banner3 > span:last-child{
    font-size: 100px;
    line-height: 50px;
}


.banner4 {
    grid-area: 3 / 2 / 4 / 3;
    background-image: url("../../../images/banner4.jpg");
    background-size: cover;
    background-position: 0 -150px;
}

.banner4 > span:first-child{
    font-size: 80px;
    line-height: 90px;
}

.banner4 > span:last-child{
    font-size: 20px;
    line-height: 0px;
}

.banner5 {
    grid-area: 1 / 3 / 2 / 4;
    background-image: url("../../../images/banner5.jpg");
    background-size: cover;
}

.banner5 > span:first-child{
    letter-spacing: 1px;
    font-size: 30px;
    line-height: 50px;
}

.banner5 > span:last-child{
    font-size: 70px;
    line-height: 40px;
}

.banner6 {
    grid-area: 2 / 3 / 3 / 4;
    background-image: url("../../../images/banner6.jpg");
    background-size:cover;
    background-position: 16px;
}

.banner6 > span:first-child{
    letter-spacing: 1px;
    font-size: 120px;
    line-height: 100px;
}

/* .banner6 > span:last-child{
    font-size: 70px;
    line-height: 40px;
} */

.banner7 {
    grid-area: 3 / 3 / 4 / 4;
    background-image: url("../../../images/banner7.jpg");
    background-size:cover;
    background-position: 0px 0;
}

.banner7 > span:first-child{
    font-size: 60px;
    margin-left: 70px;
    margin-top: 90px;
}


@media (max-width: 900px) {
    .banner{
        filter: grayscale(0);
    }
}


@media (max-width: 768px) {

    .banner-container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(5, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      margin: 6px;
    }
    
    .banner3 { grid-area: 1 / 1 / 1 / 3; }
    .banner2 { grid-area: 2 / 1 / 2 / 2; }
    .banner6 { grid-area: 2 / 2 / 2 / 2; }
    .banner4 { grid-area: 3 / 1 / 3 / 3; }
    .banner5 { grid-area: 4 / 1 / 4 / 3; }
    .banner1 { grid-area: 5 / 1 / 5 / 2; }
    .banner7 { grid-area: 5 / 2 / 5 / 2; }

    .banner4{
        background-position: 0 -60px;
    }

    .banner3 > span:last-child{
        font-size: 40px;
    }
}