.dashboard-container {
    position: relative;
    padding: 0px 6px;
}

.dashboard-container .head-templates {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    gap: 20px;
}

.dashboard-container .head-templates>div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    width: 100%;
    min-width: 100px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--primary-box-shadow);
    font-size: var(--l-font-size);
    font-weight: 600;

    .icon {
        display: grid;
        place-items: center;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 1px solid var(--border-color);
    }

    .red {
        color: var(--primary-error-color);
    }

    .green {
        color: var(--highlight-font-color);
    }

    >div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.dashboard-container .head-templates div>span {
    font-size: var(--m-font-size);
    color: var(--light-font-color);
    font-weight: 400;
}

.dashboard-container .graphs-charts-container {
    margin-top: 60px;

    .chart-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        margin-bottom: 30px;
    }

    .graph {
        padding: 30px;
        border-radius: 10px;
        border: 1px solid var(--border-color);
        margin-bottom: 30px;
    }

    .chart {
        padding: 30px;
        border-radius: 10px;
        border: 1px solid var(--border-color);
    }
}