.modal-container{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 101;
}

.modal-container.open{
    display: block;
}

.modal-container .background {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
}

.modal-container.open .background {
    visibility: visible;
    opacity: 1;
}


.modal-container .page-content,
.modal-container .modal,
.modal-container .background {
    transition: 0.5s;
}

.modal-container .modal {
    position: absolute;
    width: 700px;
    max-width: 70%;
    min-width: 300px;
    height: auto!important;
    display: block;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: #fff;
    z-index: 12;
    border-radius: 6px;
    overflow: hidden;
}

.modal-heading-content {
    position: relative;
    margin: 30px;
    height: auto;
    width: var(100% - 60px);
    bottom: 0;
}

.modal-content{ 
    overflow-y: auto;
    padding: 10px 10px;
    max-height: 60vh;
}

.modal-btn-container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.close-modal-icon{
    position: absolute;
    height: 40px;
    width: 40px;
    padding: 12px;
    top: 0;
    right: 0;
    cursor: pointer;
}

.modal-caption{
    color: var(--light-font-color);
}

.modal-btn-container > button{
    min-width: 100px;
}
