.update-order-status-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .product {
        width: 200px;
        overflow: hidden;
    }
}


.update-order-status-container .order-status {
    margin-bottom: 10px;

    >span {
        font-weight: 400;
    }

    >select {
        font-size: var(--s-font-size) !important;
        width: 160px !important;
        min-width: 120px !important;
        height: 30px !important;
        padding: 2px !important;
    }
}