
.parent-navbar{
    position: relative;
    z-index: 10;
}

.navbar {
    font-weight: 700;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 0 20px;
    color: white;
    background-color: var(--primary-color);
}

.nav-elems {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
    letter-spacing: 0.02rem;
    gap: 5px;
    padding: 7px 15px;
    border-radius: 30px;
    transition: all 0.3s;
    line-height: 18px;
    cursor: pointer;
    opacity: 0;
    animation: opacity 0.3s forwards;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.nav-elems .cart-items {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 12px;
    background-color: var(--secondary-color);
    color: var(--primary-font-color);
    padding: 0px 5px;
    border-radius: 50%;
    border: 2px solid rgb(157, 60, 0);
}

.nav-elems:hover {
    background-color: var(--primary-hover-color);
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: 20px;
    border-radius: 30px;
    z-index: -1;
}

.navbar-logo:hover{
    background-color: var(--primary-hover-color);
}

.link{
    color:inherit;
}

.navbar-menu {
    display: flex;
    transition: 0.3s;
    gap: 10px;
    margin-right: 80px;
}

.cart-icon {
    position: absolute;
    right: 30px;
}


.menu-icon {
    display: none;
}

.nav-elem-small {
    font-size: smaller;
    font-weight: 200;
}


.sidebar {
    position: fixed;
    width: 300px;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    animation: slideout 0.3s forwards;
    z-index: 999;
}

@keyframes slideout {
    0% {
        width: 300px;
    }

    100% {
        width: 0px;
    }
}


.sidebar.active {
    animation: slide 0.3s forwards;
}

@keyframes slide {
    0% {
        width: 0;
    }

    100% {
        width: 300px;
    }
}


.sidebar .scrollable{
    position: relative;
    top: 20vh;
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    color: var(--secondary-font-color);
}



@media screen and (max-width: 960px) {

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .navbar-menu {
        display: none;
    }

    .navbar-menu.active {
        display: flex;
        flex-direction: column;
        width: 300px;
        transition: 0.1s;
        color: var(--secondary-font-color);
        font-weight: 500;
        margin-bottom: 30px;
    }

    .navbar .navbar-menu.active{
        display: none;
    }

    .cart-icon {
        position: absolute;
        right: 60px;
    }

    .nav-elems .nav-elem-small {
        font-size: 14px;
    }

    .nav-elem-desc {
        display: flex;
    }

    .main-elem {
        position: absolute;
        top: 7vh;
        left: 65px;
        font-weight: 600;
        background-color: var(--primary-color);
        color: white;
        padding: 15px 20px;
    }

    .nav-elems:not(:last-child, :nth-last-child(1)) {
        gap: 10px;
        padding-bottom: 10px;
        border-radius: 5px;
    }

    .scrollable .nav-elems:last-child::after{
        content: '';
        position: absolute;
        width: 90%;
        left: 5%;
        bottom: -15px;
        border-top: 1px solid var(--border-color);
    }

    .fixed .nav-elem-small{
        font-weight: 600;
    }

    .scrollable .nav-elem-small{
        font-weight: 500;
    }

    .nav-elems, .sec-nav-elems{
        white-space: nowrap;
    }

    .nav-elems:not(:last-child):hover{
        background-color: white;
    }
}





.secondary-navbar button {
    position: absolute;
    left: 0;
    border: 0;
    padding: 0;
    background-color: var(--secondary-color);
    cursor: pointer;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    scale: 0.75;
}

.secondary-navbar {
    position: fixed;
    top: 80px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    background-color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-top: 1px solid white;
}


.searchbar-container{
    position: relative;
    flex: 0.4;
    margin-left: 20px;
}

.search {
    position: relative;
    width: 100%;
    font-size: 13px;
    height: 40px;
    padding-left: 46px;
    border: 0;
    border-radius: 50px;
    outline: none;
    transition: 0.2s;
}

input {
    font-family: inherit;
}

@media only screen and (max-width: 900px) {
    .searchbar-container {
        flex: 1;
        margin-left: 0px;
    }

    .secondary-navbar {
        padding: 0px 5px;
        width: 100%;
    }
}


.secondary-navbar-menu {
    display: flex;
    flex: 0.5;
    color: white;
    font-size: 14px;
    align-items: center;
    gap: 3%;
    justify-content: flex-end;
    font-weight: 600;
    white-space: nowrap;
}


.sec-nav-elems {
    cursor: pointer;
    padding: 4px;
    opacity: 0;
    animation: opacity 0.3s forwards;
}

.sec-nav-elems:hover {
    text-decoration: underline;
}


@media screen and (max-width: 960px) {

    .secondary-navbar-menu {
        display: none;
    }

    .secondary-navbar-menu.active {
        display: flex;
        flex-direction: column;
        width: 300px;
        transition: 0.1s;
        align-items: flex-start;
        color: var(--secondary-font-color);
        font-weight: 500;
    }

    .secondary-navbar .secondary-navbar-menu.active{
        display: none;
    }

    .sec-nav-elems {
        width: 100%;
        margin-bottom: 4px;
        padding: 10px 20px;
    }

    .sec-nav-elems:hover {
        text-decoration: none;
    }

    .sec-nav-elems:last-child::after {
        border-bottom: 1px solid var(--border-color);
    }
}


.search:focus{
    border-radius: 1px;
    border: 1px solid black;
    outline: 1px solid white;
}

