.list-product-card-container {
    position: relative;
    width: 100%;
    min-height: 160px;
    max-height: 180px;

    .review-container {
        display: flex;
        gap: 5px;
        flex-wrap: nowrap;
        padding: 10px 0px;
    }

    .review-container>span:last-of-type {
        font-size: var(--s-font-size);
    }
}

.list-product-card {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .product-description {
        width: 75%;
    }

    .image-container {
        position: relative;
        height: 90%;
        width: 25%;
        min-width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        >img {
            max-height: 90%;
            max-width: 100%;
            border-radius: 4px;
        }
    }

    .product-description>div:last-child {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
    }
}

.list-product-card-container.low-stock::after {
    content: "";
    background: #fff;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

.list-product-card .product-description>p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-product-card .product-price {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    padding: 5px 0px;
}

.list-product-card .product-price {
    .product-sp {
        font-size: var(--l-font-size);
        white-space: nowrap;
    }

    .product-p {
        margin-top: 2px;
        font-size: var(--s-font-size);
        color: var(--light-font-color);
        text-decoration: line-through;
    }
}