.product-card-container {
    position: relative;
    line-height: 22px;
    min-width: 140px;
    border-radius: 3px;
    overflow: hidden;
    animation: popin 0.5s forwards;

    .review-container{
        display: flex;
        gap: 5px;
        flex-wrap: nowrap;
        margin-bottom: 10px;
    }
    
    .review-container>span:last-of-type {
        font-size: var(--s-font-size);
    }
}

.product-card .image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 3px;
    min-height: 180px;
    max-height: 220px;
}

.product-card .image-container img {
    position: absolute;
    object-fit: contain;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.product-card .product-description{
    padding: 4px;
}

.product-card .product-description > p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.product-card .wishlist{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 5px;
    right: 5px;
    padding: 5px;
    background-color: white;
    color: black;
    border-radius: 18px;
    transition: 0.1s;
    z-index: 1;
}

.product-card .wishlist:hover{
    transform: scale(1.06);
}

.product-card .product-price{
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    padding: 5px 0px;
}

.product-card .product-price{
    .product-sp{
        color: var(--highlight-font-color);
        font-size: var(--xl-font-size);
        font-weight: 600;
        white-space: nowrap;
    }

    .product-p{
        color: var(--light-font-color);
        text-decoration: line-through;
    }
}


.add-quantity{
    width: 180px;
    min-width: 100px;
    color: var(--black-font-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.add-quantity .plus, .add-quantity .minus{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    height:30px;
    width: 30px;
    padding: 4px;
    font-size: 40px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.add-quantity .plus:active, .add-quantity .minus:active{
    background-color: var(--black-font-color);
    color: white;
}

.add-quantity > span{
    font-size: large;
    font-family: 'Bebas Neue', sans-serif;
}
