
.star-container{
    width: fit-content;
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 2px;
}

.star-container .star-icon{
    color: black;

}

.star-container .star-icon.light{
    color: var(--secondary-color);
    cursor: pointer;
}