
.create-product-container .products-container{
    margin-top: 40px;
    padding: 0px 10px;
}

.create-product-container .variations-container{
    padding: 0px 5px;
}

.create-product-container .variations-container > div{
    margin-bottom: 7px;
}

.create-product-container .variations-container label{
    text-transform: capitalize;
}

.create-product-container .container-head{
    font-weight: 600;
    color: var(--black-font-color);
}

.create-product-container .title{
    display: flex;
    align-items: center;
    gap: 5px;
}

.create-product-container .create-product-btn-container{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-product-container form .product-images-container{
    margin: 20px 0px;
}

.create-product-container form .product-images{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: auto;
    padding: 2px;

    > .img-container{
        position: relative;
        margin-top: 5px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        > img{
            height: 100%;
            border-radius: 4px;
            max-width: 90px;
        }

        > .delete-cover{
            display: none;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 4px;
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.570);
        }
        
    }

    > .img-container:hover > .delete-cover{
        display: flex;
    }
    
    > label{
        font-size: var(--xxs-font-size);
        color: var(--light-font-color);
        height: 60px;
        margin-top: 5px;
        border: 1px dotted var(--light-font-color);
        border-radius: 4px;
        width: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    > label.invalid{
        color: var(--primary-error-color);
        border-color: var(--primary-error-color);
    }

    > input{
        display: none;
    }
}
