.dropdown-button-container .dropdown {
    display: inline-block;
    position: relative;
}

.dd-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 20px;
    padding: 10px 18px;
    color: var(--black-font-color);
    font-size: var(--regular-content-font-size);
    background-color: #f1f1f2;
    cursor: pointer;
    white-space: nowrap;
    min-width: 200px;
    transform: rotate(0deg);
}

.dd-button:hover {
    background-color: #eeeeee;
}


.dd-input {
    display: none;
}

.dd-menu {
    font-size: var(--regular-content-font-size);
    position: absolute;
    color: var(--black-font-color);
    top: 100%;
    border: 1px solid var(--border-color);
    border-radius: 7px;
    min-width: 100%;
    min-height: 10px;
    padding: 7px;
    margin: 5px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    list-style-type: none;
    z-index: 10;
}

.dd-menu::before {
    content: "";
    position: absolute;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid var(--border-color);
    left: 34px;
    top: -6px;
}

.dd-menu::after {
    content: "";
    position: absolute;
    top: -5px;
    left: 35px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right:6px solid transparent;
    border-bottom: 6px solid white;
}

.dd-input+.dd-menu {
    display: none;
}

.dd-input:checked+.dd-menu {
    display: block;
}