.accordion__section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--border-color);
    padding: 0px 10px;
}

.accordion {
    padding: 15px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
}

.accordion-toggle-icon{
    cursor: pointer;
}

.accordion__title {
    color: var(--black-font-color);
    font-weight: 600;
    font-size: 15px;
    text-transform: capitalize;
}

.accordion__icon {
    margin-left: auto;
    transition: transform 0.3s ease;
}

.rotate {
    transform: rotate(90deg);
}

.accordion__content {
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.accordion__text {
    padding: 20px 5px;
}