
:root {
    --primary-color: #0071dc;
    --primary-hover-color: #0055a5;
    --secondary-color: #ffc220;
    --primary-footer: #F9F7F7;
    --primary-font-family: 'Lato', sans-serif;
    --secondary-font-family: 'Martel Sans', sans-serif;
    --primary-font-color: #1B1B1B;
    --secondary-font-color: #46474a;
    --light-font-color: #74767c;
    --highlight-font-color: #2a8703;
    --black-font-color: #00000;
    --border-color: gainsboro;

    --large-content-font-size: 20px;
    --medium-content-font-size: 15px;
    --small-content-font-size: 13px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font-family);
    color: var(--primary-font-color);
}


::selection{
    background-color: rgb(41, 41, 41);
    color: white;
}


.logo-new {
    position: relative;
    font-size: 24px;
}

.logo-new::after {
    content: '₹';/*  */
    text-shadow:  2px 2px rgba(0, 0, 0, 0.314);
    padding-left: 8px;
    padding-top: 1px;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    /* right: -2px; */
    background-color: var(--secondary-color);
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px; */
    box-shadow: rgba(0, 0, 0, 0.315) 2px 2px;
    z-index: -1;
}


.main-container{
    position: relative;
    height: 200vh;
}

.content-container{
    position: relative;
    top: 150px;
}
