:root {
    --primary-color: #0071dc;
    --primary-hover-color: #0055a5;
    --secondary-color: #ffc220;
    --logo-font-family: 'Playfair Display', serif;
    --primary-footer: #F9F7F7;
    --primary-font-family: 'Lato', sans-serif;
    --primary-font-color: #1B1B1B;
    --black-font-color: #00000;
    --border-color: gainsboro;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--primary-font-family);
    color: var(--primary-font-color);
}


::selection{
    background-color: rgb(41, 41, 41);
    color: white;
}


.logo {
    font-family: "Playfair Display", serif;
}


.main-container{
    position: relative;
}