:root {
    --primary-color: #0071dc;
    --primary-hover-color: #0055a5;
    --secondary-color: #ffc220;
    --primary-footer: #F9F7F7;
    --primary-font-family: 'Lato', sans-serif;
    --secondary-font-family: 'Martel Sans', sans-serif;
    --primary-font-color: #1B1B1B;
    --secondary-font-color: #46474a;
    --light-font-color: #74767c;
    --highlight-font-color: #2a8703;
    --highlight-background-color: #eaf3e6;
    --black-font-color: #2e2f32;
    --border-color: gainsboro;
    --highlight-background-color: #f8f8f8;
    --grey-background-color: #f1f1f2;

    --large-content-font-size: 20px;
    --medium-content-font-size: 15px;
    --regular-content-font-size: 14px;
    --small-content-font-size: 13px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font-family);
    color: #515357;
}


::selection {
    background-color: var(--primary-hover-color);
    color: white;
}


.logo-new {
    position: relative;
    font-size: 24px;
}

.logo-new::after {
    content: '₹';
    /*  */
    text-shadow: 2px 2px rgba(0, 0, 0, 0.314);
    padding-left: 8px;
    padding-top: 1px;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    /* right: -2px; */
    background-color: var(--secondary-color);
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px; */
    box-shadow: rgba(0, 0, 0, 0.315) 2px 2px;
    z-index: -1;
}


.main-container {
    position: relative;
}

.content-container {
    position: relative;
    margin-top: 150px;
}

.placeholder {
    background: #eee;
    position: relative;
    overflow: hidden;
}

.placeholder:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100px;
    background: linear-gradient(90deg, #eee, #f4f4f4, #eee);
    animation: gradient 1s infinite ease-in-out;
}

.image-placeholder {
    aspect-ratio: 16 / 12;
}

.title-placeholder {
    aspect-ratio: 16 / 1.5;
}

.text-placeholder {
    aspect-ratio: 16 / 1;
    margin-top: 10px;
    margin-bottom: 10px;
}

@keyframes gradient {
    form {
        left: 0%;
    }

    to {
        left: 100%;
    }
}


.custom-tooltip {
    position: relative;
}

.custom-tooltip::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 8px;
    background-color: rgb(59, 59, 59);
    color: #fff;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 10px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 99;
}

.custom-tooltip:hover::before {
    opacity: 1;
    visibility: visible;
}