.product-page-container {
    position: relative;
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
    top: 40px;
}

.page-section1 {
    position: relative;
    display: flex;
    gap: 30px;
    width: 100%;
    margin-top: 40px;
    overflow: hidden;
}

.page-column1 {
    position: relative;
    width: 68%;
}

.page-column2 {
    position: relative;
    width: 32%;
}

.product-images {
    position: relative;
    display: flex;
    height: 600px;
    width: 100%;
    gap: 30px;
}

.image-carousel {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 28px;
    flex: 0.11;
    width: 100%;
    margin: 20px 0px;
    padding: 10px 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.image-carousel::-webkit-scrollbar {
    width: 3px;
}

.variation-product-items::-webkit-scrollbar {
    height: 3px;
}

.image-carousel::-webkit-scrollbar-track,
.variation-product-items::-webkit-scrollbar-track {
    background: white;
}

.image-carousel:hover::-webkit-scrollbar-track,
.variation-product-items::-webkit-scrollbar-track {
    background: #e8e8e8;
}

.image-carousel::-webkit-scrollbar-thumb,
.variation-product-items::-webkit-scrollbar-thumb {
    background: #e8e8e8;
    border-radius: 8px;
}

.image-carousel:hover::-webkit-scrollbar-thumb,
.variation-product-items::-webkit-scrollbar-thumb {
    background: #555;
}

.image-wrapper {
    position: relative;
    height: 90px;
    cursor: pointer;
    transition: 0.3s;
}

.image-carousel img {
    width: 100%;
    height: 100%;
    min-width: 60px;
    min-height: 70px;
}

.image-carousel img:hover {
    scale: 1.05;
}


.product-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.86;
    margin: 0px 20px;
    overflow: hidden;
    transition: transform;
    cursor: crosshair;
}

.product-image img {
    position: relative;
    min-height: 200px;
    min-width: 200px;
    max-height: 100%;
    max-width: 100%;
}

.image-btn {
    position: absolute;
    color: var(--primary-color);
    cursor: pointer;
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    z-index: 3;
}

.prev-image {
    left: 13%;
    top: 50%;
}

.next-image {
    right: 0%;
    top: 50%;
}

.image-btn.disabled {
    filter: opacity(0.5);
    pointer-events: none;
}

.product-image:hover {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    outline: 1px solid black;
}

.image-carousel .active:after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 90%;
    padding-top: 4px;
    left: 5%;
    border-radius: 10px;
    background-color: var(--primary-color);
    animation: strech 0.2s linear;
}

@keyframes strech {
    0% {
        width: 0;
        left: 50%;
        right: 50%;
    }

    100% {
        width: 90%;
        left: 5%;
        right: 5%;
    }
}


.page-column1 .image-caption {
    position: relative;
    text-align: center;
    left: 9%;
    margin-top: 50px;
}

.page-column1 .image-caption .zoom-caption {
    margin-bottom: 20px;
}

.page-column1 .image-caption .zoom-icon {
    border: 1px solid black;
    padding: 5px;
    border-radius: 50%;
}




.product-detail-section {
    position: sticky;
    top: 0;
    border: 1px solid var(--border-color);
    color: var(--black-font-color);
    font-size: var(--m-font-size);
    padding: 30px 30px 20px 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.product-detail-section .btn-container{
    display: flex;
    align-items: center;
    height: 70px;
}

.section-part {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.product-detail-section .wishlist-icon {
    align-self: flex-end;
    cursor: pointer;
}

.product-detail-section .brand-name {
    width: fit-content;
    font-weight: 200;
    text-decoration: 1px underline;
    cursor: pointer;
}

.product-detail-section .brand-name:hover {
    color: var(--primary-color);
    text-decoration: none;
}

.product-detail-section .product-name {
    font-size: var(--xl-font-size);
    font-weight: 600;
    line-height: 29px;
    text-transform: capitalize;
}

.product-detail-section .star-rating {
    display: flex;
    width: fit-content;
    gap: 5px;
    font-size: var(--s-font-size);
    color: var(--light-font-color);
    margin: 12px 0px;
    cursor: pointer;
}

.product-detail-section .star-rating .reviews-count {
    text-decoration: 1px underline;
}

.product-detail-section .price-container {
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.product-detail-section .price-sp {
    color: var(--highlight-font-color);
    font-size: var(--xxxl-font-size);
    font-weight: 600;
    white-space: nowrap;
}

.product-detail-section .price-p {
    color: var(--light-font-color);
    text-decoration: line-through;
}

.product-detail-section .save-price {
    margin: 10px 0px;
    color: var(--highlight-font-color);
}

.product-detail-section .highlight-text {
    margin-right: 8px;
    font-weight: 600;
    background-color: var(--highlight-background-color);
    padding: 4px 7px;
    border-radius: 7px;
}

.product-detail-section>div:not(:last-child):after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -10px;
    border-top: 1px dotted var(--border-color);
}


.product-detail-section .seller-details {
    position: relative;
    margin: 30px 0px;
    color: var(--secondary-font-color);
}

.product-detail-section .about-seller {
    display: flex;
    align-items: center;
    gap: 5px;
}

.product-detail-section .about-seller .icon {
    margin-right: 10px;
}

.product-detail-section .about-seller .seller-name {
    font-weight: 600;
    cursor: pointer;
}

.product-detail-section .about-seller .seller-name:hover {
    text-decoration: underline;
}

.product-detail-section .merit {
    margin-left: 35px;
}

.product-detail-section .merit>span {
    color: var(--highlight-font-color);
    font-weight: 600;
    font-size: var(--l-font-size);
}

.product-detail-section .seller-details::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    border-top: 1px dotted var(--border-color);
}

.product-detail-section .inferior-btn{
    font-size: var(--l-font-size);
    align-self: center;
}

.more-options {
    margin-top: 20px;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    padding: 30px;
}

.more-options .option-head {
    color: var(--secondary-font-color);
    font-weight: 600;
    font-size: var(--xl-font-size);
    margin-bottom: 6px;
}

.more-options .option-description {
    color: var(--light-font-color);
    font-size: var(--m-font-size);
}

.more-options .options {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.more-options .options>div:nth-last-child(2) {
    position: relative;
    margin-bottom: 20px;
}

.more-options .options>div:nth-last-child(2)::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    border-top: 1px dotted var(--border-color);
}


@media screen and (max-width: 1100px) {
    .product-page-container {
        padding: 0px 40px;
    }
}

@media screen and (max-width: 900px) {
    .page-section1 {
        flex-direction: column;
    }

    .page-column1 {
        width: 100%;
    }

    .page-column2 {
        width: 100%;
    }

    .caption {
        display: none;
    }

}


@media screen and (max-width: 600px) {

    .product-page-container {
        padding: 0px 20px;
    }

    .product-images {
        flex-direction: column-reverse;
    }

    .image-carousel {
        flex-direction: row;
        gap: 20px;
        flex: 0.2;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .product-image {
        flex: 0.8;
    }

    .image-carousel img {
        height: 70px;
        min-width: 90px;
    }

    .image-carousel .active:after {
        bottom: 0px;
        padding-top: 3px;
    }

    .image-btn.prev-image {
        left: -2.5%;
        top: 30%;
    }

    .image-btn.next-image {
        right: -2.5%;
        top: 30%;
    }

    .image-carousel::-webkit-scrollbar {
        height: 3px;
    }
}

.product-variations {
    position: relative;
    margin-top: 30px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-transform: capitalize;
}


.variation-type {
    font-weight: 600;
}

.product-variations .variation-product-items {
    position: relative;
    margin-top: 10px;
    display: flex;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
}

.product-variations .variation-product-items .product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    color: var(--black-font-color);
    font-size: var(--s-font-size);
    cursor: pointer;
}

.product-variations .variation-product-items .product-item:hover .product-variation {
    text-decoration: underline;
}

.product-variations .variation-product-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border: 1px solid var(--border-color);
    overflow: hidden;
}

.product-variations .variation-product-image img {
    max-height: 100%;
    max-width: 100%;
}

.product-variations .variation-button {
    position: relative;
    background-color: rgb(241, 241, 241);
    padding: 5px 8px;
    border: 1px solid var(--border-color);
    font-weight: 600;
    overflow: hidden;
}

.product-variations .variation-button:active {
    background-color: var(--border-color);
}


.product-variations input[type="checkbox"] {
    display: none;
}

.product-variations input[type="checkbox"]:checked+label .variation-button {
    border: 1px solid var(--primary-color);
    box-shadow: var(--primary-color) 0px 0px 2px;
}


.product-item.not-available .variation-button {
    color: rgb(136, 136, 136);
}

.product-item.not-available .variation-button::before {
    content: "";
    position: absolute;
    width: 100%;
    border-top: 1px solid rgb(99, 99, 99);
    left: 0;
    top: 50%;
    transform: rotate(45deg);
    top: calc(50% - 1px);
}


.page-column1 .carousel-container {
    margin: 25px 5px;
}

.product-variations input[type="checkbox"]:checked+label .variation-product-image {
    border: 1px solid var(--primary-color);
    box-shadow: var(--primary-color) 0px 0px 2px;
}

.product-item.not-available .variation-product-image {
    filter: opacity(0.3);
}

.about-product {
    margin: 10px 0px 20px 0px;
}

.heading {
    color: var(--black-font-color);
    font-size: var(--xl-font-size);
    font-weight: 700;
    margin-bottom: 20px;
}


.quick-highlights {
    margin-top: 60px;
}

.highlight-section {
    position: relative;
    background-color: var(--highlight-background-color);
    padding: 25px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    font-size: var(--m-font-size);
}

.highlight-section::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 15%;
    height: 70%;
    border-left: 1px solid rgb(172, 172, 172);
}

.highlight-section .elem {
    display: flex;
    align-items: center;
    gap: 100px;
}

.highlight-section .elem1 {
    grid-area: 1 / 1 / 2 / 2;
}

.highlight-section .elem2 {
    grid-area: 2 / 1 / 3 / 2;
}

.highlight-section .elem3 {
    grid-area: 3 / 1 / 4 / 2;
}

.highlight-section .elem4 {
    grid-area: 1 / 2 / 2 / 3;
}

.highlight-section .elem5 {
    grid-area: 2 / 2 / 3 / 3;
}

.highlight-section .elem6 {
    grid-area: 3 / 2 / 4 / 3;
}

.highlight-name {
    font-weight: 600;
}



.bundles-container {
    position: relative;
    margin: 70px 0px 90px 0px;
}

.bundles-container .heading {
    margin-bottom: 0;
}

.bundles-container .bundles-caption,
.bundle-container .bundle-description {
    color: var(--light-font-color);
    font-size: var(--m-font-size);
}

.bundles-container .bundle-container {
    position: relative;
    margin: 30px 10px;
}


.bundle-container:not(:last-child)::after {
    content: "";
    position: absolute;
    width: calc(100% - 6%);
    left: 3%;
    border-top: 1px dotted var(--border-color);
    bottom: -20px;
}

.bundle-container .bundle-name {
    font-size: var(--l-font-size);
    color: var(--black-font-color);
    font-weight: 600;
}

.bundle-container .bundle-products {
    position: relative;
    margin-top: 20px;
    display: flex;
    width: fit-content;
    gap: 60px;
}

.bundle-products .bundle-product {
    position: relative;
}

.bundle-product:not(:nth-last-child(2))::after {
    content: "+";
    color: var(--black-font-color);
    position: absolute;
    font-size: 30px;
    top: 100px;
    right: -50px;
    height: 36px;
    width: 36px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.bundle-product:nth-last-child(2)::after {
    content: "=";
    color: var(--black-font-color);
    position: absolute;
    font-size: 30px;
    top: 100px;
    right: -50px;
    height: 36px;
    width: 36px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    box-shadow: var(--primary-box-shadow);
}

.bundle-products .bundle-price {
    margin-top: 100px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bundle-price .price-sp {
    color: var(--highlight-font-color);
    font-size: var(--xxl-font-size);
    font-weight: 600;
}

.bundle-price .price-p {
    color: var(--light-font-color);
    text-decoration: line-through;
}

.customer-reviews-container {
    position: relative;
    min-height: 120vh;
}

.rating-container {
    position: relative;
    margin-top: 30px;
}

.total-rating {
    color: var(--black-font-color);
    font-size: 4.5rem;
    font-weight: 700;
}

.total-rating span {
    font-size: var(--xl-font-size);
}

.reviews-section {
    position: relative;
    width: 100%;
    padding: 10px;
    min-height: 500px;
}

.loader {
    position: relative;
    top: 230px;
    left: 48%;
    width: 60px;
    height: 60px;
    border: 5px solid var(--secondary-color);
    border-bottom-color: var(--primary-color);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.review-card {
    position: relative;
    width: 100%;
    background-color: white;
    padding: 20px;
    box-shadow: var(--primary-box-shadow);
    border-radius: 10px;
}

.review-card .review-card-more-btn{
    position: absolute;
    right: 10px;
    top: 10px;
}

.verified-review {
    color: var(--highlight-font-color);
    font-size: var(--s-font-size);
    font-weight: 600;
}

.review-product {
    color: var(--light-font-color);
    font-size: var(--s-font-size);
}

.review-content {
    margin-left: 5px;
}

.review-title {
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--black-font-color);
    font-weight: 600;
    font-size: var(--l-font-size);
}

.review-comment {
    margin: 10px 0px;
}

.reviewer-name {
    font-size: var(--s-font-size);
    color: var(--light-font-color);
    margin-bottom: 5px;
}

.likes-dislikes {
    display: flex;
    gap: 20px;
    color: var(--light-font-color);
}

.likes-dislikes div {
    display: flex;
    gap: 1px;
    cursor: pointer;
}

.likes-dislikes span {
    font-size: var(--s-font-size);
}

.review-stars-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
