
.center-container{
    position: relative;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
}

.secondary-page-content{
    color: var(--light-font-color);
    margin-top: 40px;
    min-width: 200px;
    padding: 0px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-image{
    height: 65px;
    filter: drop-shadow(3px 3px rgba(0, 0, 0, 0.315));
    margin-bottom: 24px;
}

.logo-image-extra-small{
    height: 50px;
}

.logo-image:hover{
    animation: rotate 1s linear;
}

@keyframes rotate {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
}


.secondary-page-content .secondary-head{
    color: var(--black-font-color);
    font-size: var(--xxl-font-size);
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}


.secondary-page-content p{
    line-height: 22px;
}

.secondary-page-content > p:nth-of-type(1){
    text-align: center;
}

.secondary-page-content form{
    position: relative;
    width: 360px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.secondary-page-content #registerImage{
    align-self: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.secondary-page-content form .form-caption{
    margin: 16px 20px;
}

.secondary-page-content form .show-pass-btn{
    position: absolute;
    top: 31px;
    right: 20px;
    text-decoration: 1px underline;
    cursor: pointer;
    color: var(--black-font-color);
}

.secondary-page-content form .forgot-pass-btn{
    font-size: 0.9rem;
    margin-top: 10px;
    align-self: self-end;
    color: var(--black-font-color);
}

.secondary-page-content .pass-input:not([ type = "file" ]){
    padding: 0px 60px 0px 16px;
}

.secondary-page-content form .err-msg{
    color: var(--primary-error-color);
    margin: 0px 5px;
    margin-bottom: 10px;
    font-weight: 400;
}

.secondary-page-content .mail-details{
    color: var(--black-font-color);
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    margin-left: 5px;
}

.small-head{
    font-weight: 600;
    color: var(--black-font-color);
}

.mail-details > div{
    display: flex;
    align-items: center;
}

.secondary-page-content .password-tips{
    display: none;
    margin: 5px;
}

.secondary-page-content .password-tips li{
    color: var(--black-font-color);
    font-size: 0.8 rem;
    font-weight: 300;
    margin: 2px;
    margin-left: 26px;
}

.secondary-page-content .password-tips li.invalid{
    color: var(--primary-error-color);
    font-weight: 400;
}

.secondary-page-content .password-tips li.valid{
    color: var(--highlight-font-color);
    font-weight: 400;
}

.secondary-page-content .mail-details div{
    display: flex;
    gap: 10px;
}

.secondary-page-content .mail-details div span{
    color: var(--light-font-color);
}


